.mwq-toc { border-collapse: separate; empty-cells: hide; }
.mwq-toc td { border: 1px solid gray; padding: 4px 8px; text-align: center; width: 1.5em; }
.mwq-count { font-weight: bold; }
.mwq-result th { background-color: #e0e0e0; padding: 4px; }
.mwq-result td { text-align: center; }
.mwq-noitem { font-weight: bold; background-color: #f0f0f0; }
.mwq-questionnaire, .mwq-checklist { border-collapse: collapse !important; empty-cells: show; }
.mwq-questionnaire { width: 50%;  }
.mwq-checklist { width: 80%;  }
.mwq-questionnaire td, .mwq-questionnaire th, .mwq-checklist td, .mwq-checklist th { border: 1px solid gray; text-align: center; }
.mwq-questionnaire th { width: 30%; }
.mwq-checklist th { width: 25%; }
.mwq-questionnaire .mwq-tn, .mwq-checklist .mwq-tn { width: 10%; }
.mwq-congrats { text-align: center; }
.mwq-review { border-collapse: collapse; }
.mwq-review td, .mwq-review th { border: 1px solid black; padding: 2px; }
.mwq-review th { background-color: #D0D0D0; text-align: left; white-space: nowrap; }
.mwq-select-tickets { margin: 12px 0; }
.mwq-select-tickets input { margin: 1px 0; }
.mwq-dead { color: red; }
.mwq-fail { background-color: #ffe0e0; }
.mwq-pass { background-color: #e0ffe0; }
.mwq-fail-bd { background-color: #ffe0e0; font-weight: bold; }
.mwq-incoming { font-weight: bold; }
@media print {
    .headline, #siteSub, .printfooter, #footer { display: none; }
    .mwq-questionnaire td, .mwq-questionnaire th, .mwq-checklist td, .mwq-checklist th { white-space: nowrap; }
}
