#mwq-parselog div { font-family: monospace; }
#mwq-parselog pre { padding: 0; }
.mwq-log-error { color: white; background-color: red; }
.mwq-log-warn { color: black; background-color: #ffff00; }
.mwq-log-info { color: #008000; }
